<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>Welcome to Light-Patch</h3>
  <form>
    <label for="mode">Select lighting mode:</label>
    <select name="mode">
      <option value="color_wheel">Color wheel</option>
      <option value="wake_up">Wake up</option>
      <option value="responsive">Music responsive</option>
      <option value="meditate">Meditate</option>
    </select>
    <br><br>
    <label for="brightness">Brightness</label>
    <input type="range" min="0" max="1" value=".5" step=".05">
    <br><br>
    <label for="colors">Color</label>
    <input type="color" value="#ff0000">
    <br><br>
    <input type="radio" value="on">On
    <input type="radio" value="off">Off
    <button type="submit" name="button">Submit</button>
  </form>
</div>
