<mat-card>
  <mat-slide-toggle (change)="togglePower()">
    ON/OFF
  </mat-slide-toggle>
</mat-card>

<hr>
<mat-card>
  <form #lightStateForm="ngForm">

    <mat-form-field>
      <mat-label for="mode">Select lighting mode:</mat-label>
      <mat-select #newMode name="mode" id="mode">
        <mat-option *ngFor="let mode of modes" [value]="mode">{{mode}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br><br>
    <mat-form-field>
      <mat-label for="color">Color</mat-label>
      <input matInput #newColor type="color" name="color">
    </mat-form-field>

    <br><br>
    <!-- <mat-form-field> -->
      <mat-label for="brightness">Brightness</mat-label>
      <mat-slider #newBrightness name="brightness" min="1" max="31" step="1" value="20"></mat-slider>
    <!-- </mat-form-field> -->
    <br><br>
    <button mat-button type="button" (click)="submitForm(newColor.value, newMode.value, newBrightness.value)">Send</button>
  </form>
</mat-card>
